<div layout="column" id="full-height">
  <md-toolbar style="height:{{search.searchText.$dirty?'5vw':'100vh'}}; min-height:{{search.searchText.$dirty?'95px':'100vh'}}">
    <div class="logoBusqueda" layout="row" layout-align="{{search.searchText.$dirty?'none none':'center center'}}">
      <div layout="{{search.searchText.$dirty?'row':'column'}}" >
        <img class="{{search.searchText.$dirty? 'selectedFocus':'brandLogo'}}" src="assets/images/logoBD.png" />
        <form name="search" novalidate style="{{search.searchText.$dirty? 'width: 70vw' : vm.pristine}}">
          <!--md-input-container md-no-float style="{{search.searchText.$dirty? 'margin: 31px 0 0 31px' : vm.pristine}}" class="md-block">
            <md-icon style="line-height: 1.5;" md-colors={ 'color': 'white'} md-font-icon="fa fa-search"></md-icon>
            <input ng-model="vm.searchText" md-delay="1000" ng-change="vm.search(vm.searchText)" name="searchText" type="text" placeholder="Producto a buscar">
          </md-input-container-->
          <md-input-container md-no-float style="{{search.searchText.$dirty? 'margin: 31px 0 0 31px' : vm.pristine}}" class="md-block">
            <md-icon style="line-height: 1.5;" md-colors={ 'color': 'white'} md-font-icon="fa fa-search"></md-icon>
          <md-autocomplete flex required
          md-delay="1000"
            md-input-name="searchText"
            md-input-minlength="2"
            md-selected-item="vm.selectedProductInAutoComplete"
            md-selected-item-change="toggleRight(item)"
            md-search-text="vm.searchText"
            md-items="item in vm.search(vm.searchText)"
            md-item-text="item.name"
            md-floating-label="Buscar">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText">{{item.name}} - {{item.salePrice | currency}}</span>
          </md-item-template>
        </md-autocomplete>
        </md-input-container>
        </form>
      </div>
    </div>
  </md-toolbar>
  <!-- be careful: nothing between md-toolbar and md-content -->
  <div class="shadow">
  <div class="filterMenu" layout="row" flex-offset="{{sidenavOpened? '5':'10'}}">
  <md-menu>
    Filtrar por:
    <md-button aria-label="Open phone interactions menu" class="md-icon-button botonFiltro" ng-click="vm.openMenu($mdOpenMenu, $event)">
      mejor coincidencia <md-icon style="line-height: .5;" md-font-icon="fa fa-caret-down"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="filter in vm.filters">
        <md-button ng-click="ctrl.toggleNotifications()">
          <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
          {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} {{filter.title}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-menu>
    <md-button aria-label="Open phone interactions menu" class="md-icon-button botonFiltro" ng-click="vm.openMenu($mdOpenMenu, $event)">
      todo <md-icon style="line-height: .5;" md-font-icon="fa fa-caret-down"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="secondfilter in vm.secondfilters">
        <md-button ng-click="ctrl.toggleNotifications()">
          <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
          {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} {{secondfilter.title}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  </div>
  </div>
  <md-content flex>
    <div ng-cloak class="ourWork" style="width:{{sidenavOpened? '25%':'100%'}}; overflow-y:{{sidenavOpened? 'scroll':'hiden'}}" flex-offset="{{sidenavOpened? '5':'15'}}" flex="70">
      <md-grid-list style="margin-right:{{sidenavOpened? '5vw':'0vh'}}; margin-left:.2vw" md-cols-xs="1" md-cols-sm="{{sidenavOpened? '1':'2'}}" md-cols-md="{{sidenavOpened? '1':'3'}}" md-cols-gt-md="{{sidenavOpened? '2':'4'}}" md-row-height-gt-md="300" md-row-height="300" md-gutter="12px" md-gutter-gt-sm="40px">
        <md-grid-tile ng-click="toggleRight(product)" class="md-primary" ng-repeat="product in vm.products" ng-style='product.style' md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
          <img ng-src="{{product.image}}" />
          <md-grid-tile-footer class="productFooter" layout="row" layout-align="center center">
            <md-tooltip md-direction="top">
            {{product.name}}
            </md-tooltip>
            <h3 class="productName">{{product.name}}</h3>
            <h3 class="productPrice">{{product.salePrice | currency }}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </md-content>
  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" md-swipe-right="vm.previousProduct()" md-swipe-left="vm.nextProduct()">
    <md-button ng-click="vm.nextProduct()" ng-disabled="vm.selectedProductIndex==(vm.products.length-1)" class="changeProduct toggleNext md-primary">
      <md-icon style="line-height: .5;" md-font-icon="fa fa-angle-right fa-3x"></md-icon>
    </md-button>
    <md-button ng-click="vm.previousProduct()" ng-disabled="vm.selectedProductIndex==0" class="changeProduct togglePrevious md-primary">
      <md-icon style="line-height: .5;" md-font-icon="fa fa-angle-left fa-3x"></md-icon>
    </md-button>
    <md-button ng-click="close()" class="closeNavBtn md-primary">
      <md-icon style="line-height: 1.5;" md-font-icon="fa fa-close"></md-icon>
    </md-button>
    <div class="ProductContent" layout="row">
      <div class="productInfo" layout="column" layout-align="center center">
        <h2 class="title">{{vm.selectedProduct.name}}</h2>
        <div layout="row">
          <div layout="column">
            <img ng-click="ctrl.showDialog($event)" class="productImg" src="{{vm.selectedProduct.image}}" alt="" />
          </div>
          <div class="productImages" layout="column" flex-offset="5">
            <img ng-if="vm.selectedProduct.angleImage" src="{{vm.selectedProduct.angleImage}}" alt="" />
            <img ng-if="vm.selectedProduct.backViewImage" src="{{vm.selectedProduct.backViewImage}}" alt="" />
            <img ng-if="vm.selectedProduct.leftViewImage" src="{{vm.selectedProduct.leftViewImage}}" alt="" />
            <img ng-if="vm.selectedProduct.rightViewImage" src="{{vm.selectedProduct.rightViewImage}}" alt="" />
            <img ng-if="vm.selectedProduct.topViewImage" src="{{vm.selectedProduct.topViewImage}}" alt="" />
          </div>
        </div>
        <p>
          {{vm.selectedProduct.shortDescription}}
        </p>
        <div style="width:600px">
        <div layout="row">
          <md-checkbox ng-repeat="checkbox in vm.checkboxes" class="checkfilter {{checkbox.class}}" ng-model="vm.checkbox[0].model" aria-label="{{checkbox.label}}">
            {{checkbox.title}}
          </md-checkbox>
        </div>
        <a ng-repeat="link in vm.productlinks" class="storeLink" layout="row" layout-align="start center" href="{{vm.selectedProduct.url}}">
          <div class="{{link.condition}}"></div>
          <img class="logoImage" src="{{link.logo}}" alt="" />
          <h3 class="price">{{vm.selectedProduct.salePrice | currency}}</h3>
        </a>
        <div class="store" layout="row">
          <div class="storeDetails" layout="column">

            <span ng-if="vm.selectedProduct.customerReviews.averageScore">Calificación: {{vm.selectedProduct.customerReviews.averageScore}}<br></span>
            <br ng-if="vm.selectedProduct.customerReviews.averageScore">

            <span ng-if="vm.selectedProduct.condition">Estado: {{vm.selectedProduct.condition}}<br></span>
            <br ng-if="vm.selectedProduct.condition">

            <span ng-if="vm.selectedProduct.includedItemList.includedItem">Incluye: {{vm.selectedProduct.includedItemList.includedItem}}</span>
            <br ng-if="vm.selectedProduct.includedItemList.includedItem">

            <span ng-if="vm.selectedProduct.digital">Formato digital disponible</span>
            <br ng-if="vm.selectedProduct.digital">

            <span ng-if="vm.selectedProduct.upc">UPC: {{vm.selectedProduct.upc}}</span>
            <br ng-if="vm.selectedProduct.upc">

            <span ng-if="vm.selectedProduct.freeShipping">Envio gratuito {{vm.selectedProduct.freeShipping}}</span>
            <br ng-if="vm.selectedProduct.freeShipping">

            <span ng-if="vm.selectedProduct.shippingCost">Costo de envio: {{vm.selectedProduct.shippingCost}}</span>
            <br ng-if="vm.selectedProduct.shippingCost">

            <span ng-if="vm.selectedProduct.inStoreAvailability">Disponibilidad: {{vm.selectedProduct.inStoreAvailability}}</span>
            <br ng-if="vm.selectedProduct.inStoreAvailability">
          </div>
          <div class="" layout="column">

          </div>
        </div>
        </div>
      </div>
    </div>
  </md-sidenav>

  </div>
